# Images
*.png

# Builds
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Docs
build/
doc/_build/

# Data
*.npy
*.npz

# Notebooks
.ipynb_checkpoints/

# slurm/sbatch files
*.e *.o
*.slurm

# vscode
.vscode
*.ltf

# distribtion
dist/
_version.py